#topbar{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 2rem;
}

#user{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#usermeme{
    height: 17rem;
    margin-bottom: 0.2rem;
    width: 17rem;
    background-color: rgb(188, 181, 181);
}
#tagline{
    color:white;
    font-size: x-large;
    margin-bottom: 1rem;
}
#uploadbtn{
    padding: 0.7rem 1rem;
    font-size: x-large;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 2rem;
}
#uploadbtn:hover{
    cursor: pointer;
}
#scorebar{
    color: white;
    position: absolute;   
    right: 10rem;
    font-size: xx-large;
    top: 4rem;
}
#uploadForm{
    color: white;
    display: flex;
    flex-direction: column;
}